In [4]:
#pip install pymongo

Collecting pymongo
  Using cached pymongo-3.10.1-cp37-cp37m-macosx_10_9_x86_64.whl (350 kB)
Installing collected packages: pymongo
Successfully installed pymongo-3.10.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
#pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /Users/susie/anaconda3/lib/python3.7/site-packages (3.10.1)
Collecting dnspython<2.0.0,>=1.16.0; extra == "srv"
  Using cached dnspython-1.16.0-py2.py3-none-any.whl (188 kB)
Installing collected packages: dnspython
Successfully installed dnspython-1.16.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
import pandas as pd

In [3]:
client = MongoClient('mongodb+srv://FTDMember:M2FTD@cluster0-sqhg2.mongodb.net/test?retryWrites=true&w=majority')
db=client['Contextualweb']

cursor=db['remdesivir'].find()
cell=[]
for i in cursor:
    cell.append([i['TimeStamp'],i['Title'],i['URL']])
df=pd.DataFrame(cell,columns=['TimeStamp','Title','URL'])

In [4]:
df.head()

,TimeStamp,Title,URL
0,2020-05-03T04:08:00,"Nigeria wont use Ebola drug, <b>remdesivir</b>...",https://tribuneonlineng.com/nigeria-wont-use-e...
1,2020-05-02T21:34:57,Japan aims to fast-track review of anti-viral ...,https://japantoday.com/category/national/japan...
2,2020-05-02T21:04:59,US OKs <b>remdesivir</b>; India plans trials,http://m.timesofindia.com/PDATOI/articleshow/7...
3,2020-05-02T19:26:13,<b>Remdesivir</b> becomes new hope for COVID-19,https://www.onenewspage.com/video/20200502/130...
4,2020-05-02T17:13:00,Gilead Sciences Disputes Claim That <b>Remdesi...,https://www.fool.com/investing/2020/04/24/gile...

In [5]:
client = MongoClient('mongodb+srv://FTDMember:M2FTD@cluster0-sqhg2.mongodb.net/test?retryWrites=true&w=majority')
db=client['Tobacco']

tobacco=['mo','bats','rai','sdi','tpb','japaf','ctobf','sndvf','bti','btaff']
         
cursor=db['mo'].find()
cell=[]
for i in cursor:
    cell.append([i['TimeStamp'],i['close'],i['high'],i['low'],i['open']])
df=pd.DataFrame(cell,columns=['TimeStamp','close','high','low','open'])

In [6]:
df.head(10)

                  TimeStamp   close    high     low    open
0  2019-11-07T17:10:00.000Z  45.735  45.740  45.705  45.730
1  2019-11-07T17:15:00.000Z  45.790  45.805  45.735  45.745
2  2019-11-07T17:20:00.000Z  45.785  45.805  45.785  45.785
3  2019-11-07T17:25:00.000Z  45.825  45.825  45.765  45.785
4  2019-11-07T17:30:00.000Z  45.810  45.820  45.795  45.820
5  2019-11-07T17:35:00.000Z  45.820  45.840  45.800  45.815
6  2019-11-07T17:40:00.000Z  45.890  45.915  45.830  45.835
7  2019-11-07T17:45:00.000Z  45.880  45.900  45.855  45.870
8  2019-11-07T17:50:00.000Z  45.880  45.880  45.845  45.860
9  2019-11-07T17:55:00.000Z  45.880  45.900  45.875  45.880

In [7]:
df.describe()

              close          high           low          open
count  10000.000000  10000.000000  10000.000000  10000.000000
mean      45.106428     45.157875     45.053881     45.106533
std        5.284123      5.255563      5.313686      5.284069
min       31.040000     31.290000     30.960000     31.000000
25%       40.580000     40.658750     40.520000     40.590000
50%       46.415000     46.440000     46.390000     46.415000
75%       50.075000     50.106250     50.040000     50.071250
max       51.765000     51.775000     51.735000     51.765000